.current-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  padding-top: 70px;
  color: #eee;
}
.current-section .inner {
  width: 90%;
  margin: 0 auto;
}
.current-section .inner .address {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: center;
}
.current-section .inner .current-info {
  position: relative;
  background-color: rgba(17, 17, 17, 0.3);
  border-radius: 50%;
  overflow: hidden;
}
.current-section .inner .current-info::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.current-section .inner .current-info .wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  width: 87%;
  height: 87%;
  border-radius: 50%;
  text-align: center;
}
.current-section .inner .current-info .wrap .sun-set-rise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.current-section .inner .current-info .wrap .sun-set-rise .circle {
  position: relative;
  top: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.current-section .inner .current-info .wrap .sun-set-rise .circle::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 200%;
  border-radius: 50%;
  border: 3px solid #fff;
}
.current-section .inner .current-info .wrap .sun-set-rise time {
  position: absolute;
  top: 52%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: yellow;
  white-space: nowrap;
}
.current-section .inner .current-info .wrap .sun-set-rise time.sunrise {
  left: 0;
}
.current-section .inner .current-info .wrap .sun-set-rise time.sunset {
  left: 100%;
}
.current-section .inner .current-info .wrap .sun-set-rise time i {
  display: block;
}
.current-section .inner .current-info .wrap .sun-set-rise .current-sun {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 0;
  transform-origin: right center;
}
.current-section .inner .current-info .wrap .sun-set-rise .current-sun i {
  position: absolute;
  left: 0;
  top: 0;
  animation: scale 2s infinite alternate;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
@keyframes scale {
  0% {
    color: yellow;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  100% {
    color: #fff;
    transform: translate(-50%, -50%) scale(1.8) rotate(180deg);
  }
}
.current-section .inner .current-info .wrap .temp {
  display: flex;
  align-items: center;
  margin: 20px;
}
.current-section .inner .current-info .wrap .temp img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.current-section .inner .current-info .wrap .temp span em {
  font-size: 3em;
}
.current-section .inner .current-info .wrap .temp span sup {
  display: inline-block;
  font-size: 1.5em;
}
.current-section .inner .current-info .wrap .temp-min-max {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgba(17, 17, 17, 0.2);
}
.current-section .inner .current-info .wrap .temp-min-max b {
  margin: 0 3px;
}
.current-section .inner .current-info .wrap .temp-min-max b sup {
  vertical-align: bottom;
  margin-left: 3px;
}
.current-section .inner .current-info .wrap .desc {
  font-size: 1.3em;
}
.current-section .inner .current-info .wrap .rain-snow {
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgba(17, 17, 17, 0.2);
}
.current-section .inner .current-info .wrap .rain-snow b {
  margin: 0 10px;
}
.current-section .inner .current-info .wrap .rain-snow b i {
  margin-right: 5px;
}
.current-section .inner .current-info .wrap .rain-snow b small {
  font-size: 0.6em;
}
.current-section .inner .current-info .wrap .wind {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current-section .inner .current-info .wrap .wind b {
  margin: 0 10px;
}
.current-section .inner .current-info .wrap .wind b.wind-deg {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(33, 122, 240, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-section .inner .current-info .wrap .wind b > small {
  font-size: 0.6em;
}
.current-section .inner .current-info .wrap .wind b .fa-wind {
  margin-right: 5px;
}
.current-section .inner .current-info .wrap .wind > small {
  font-size: 0.4em;
}
.current-section .inner p.time {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}
.current-section .inner p.time time {
  display: block;
  text-shadow: 1px 1px 0 #333;
}
.current-section .inner p.time time.hhmm {
  font-size: 2.5em;
  font-weight: 600;
}
.current-section .inner p.time time.yydd {
  font-size: 1.5em;
  font-weight: 300;
}
.current-section .more {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #eee;
  animation: doki 1s infinite alternate linear;
}
.current-section .more i {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: all 0.5s;
}
.current-section .more .minus {
  opacity: 0;
}
.current-section .more.active .plus {
  opacity: 0;
}
.current-section .more.active .minus {
  opacity: 1;
}
.current-section .more::after, .current-section .more::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  border-bottom: 2px solid #fff;
}
.current-section .more::before {
  left: 100%;
}
.current-section .more::after {
  right: 100%;
}
@keyframes doki {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}/*# sourceMappingURL=current.css.map */